// Top Menu
.top-bar .name h1 a {
  width: auto;
}

strong {
  font-weight: 400;
}

.inline-block {
  display: inline-block;
}

.featured-image {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  img {
    display: block;
    width: 100%;
  }
}

.page {
  background: white;
  color: #333;

  h1,h2,h3,h4,h5,h6, p {
    color: #333;
  }

  h1,h2,h3 {
    font-weight: 400;
  }
}

.small-margin-bottom {
  margin-bottom: 20px;
}

.medium-margin-bottom {
  margin-bottom: 40px;
}

.large-margin-bottom {
  margin-bottom: 50px;
}

.slides {
  color: #D8D8D8;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include last-child;

  p {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);

    &.no-pad {
      padding: 0;
      background: transparent;
    }
  }

  h1 {
    text-shadow: 0 1px 1px #333;
  }

  &.light {
    background-color: #fff;
  }
}

.slides .row, .page .row {
  padding: 40px 0;

  &.medium-pad {
    padding: 50px 0;
  }

  &.large-pad {
    padding: 60px 0;
  }
}



// Intro Section
.slide-0 {
  background-color: #6D665E;
  background-image: url(../img/home-banner.jpg);

  p {
    padding: 0;
  }

  blockquote {
    padding: 0;
    border-left: 0;
    font-size: 1.1rem;
  }
}

.slide-1 {
  background-image: url(../img/slide-1.jpg);
}

.slide-2 {
  background-image: url(https://a16545fb495c8760fb33-4cec33efbe2744e99ba863e52edb2075.ssl.cf2.rackcdn.com/slide2.jpg);
}

.slide-3 {
  background-image: url(https://a16545fb495c8760fb33-4cec33efbe2744e99ba863e52edb2075.ssl.cf2.rackcdn.com/slide3.jpg);
}

.slide-4 {
  background-image: url(https://a16545fb495c8760fb33-4cec33efbe2744e99ba863e52edb2075.ssl.cf2.rackcdn.com/slide4.jpg);
}

.slide-5 {
  background-image: url(https://a16545fb495c8760fb33-4cec33efbe2744e99ba863e52edb2075.ssl.cf2.rackcdn.com/slide5.jpg);
}

.slide-1 {
  background-image: url(../img/slide-1.jpg);
}

.slide-last {
  background-image: url(../img/last-slide.jpg);
}

.footer {
  background: #111;
  padding: 20px 0;
  color: #ccc;
  @include last-child;

  p {
    font-size: rem-calc(18);
  }

  ul li {
    font-size: rem-calc(18);
  }
}


// Small screens
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {

  .footer {
    p, ul li {
      text-align: center;
    }

    ul {
      margin: 10px 0 0;
    }

    li {
      margin-top: 10px;
    }

    a {
      color: #ddd;
      &:hover {
        color: #ccc;
      }
    }
  }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

  p, h1, h2, h3, h5, h6 {
    margin-bottom: rem-calc(36);
  }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .featured-image, .featured-text {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  .small-margin-bottom {
    margin-bottom: 50px;
  }

  .medium-margin-bottom {
    margin-bottom: 90px;
  }

  .large-margin-bottom {
    margin-bottom: 110px;
  }

  .slides .row, .page .row {
    padding: 60px 0;

    &.small-pad {
      padding: 90px 0;
    }

    &.medium-pad {
      padding: 120px 0;
    }

    &.large-pad {
      padding: 200px 0;
    }
  }
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nostrum, et, eveniet ipsam nam non unde placeat aut labore dignissimos officia officiis sapiente! Cupiditate, iusto, quas odit quos neque tempore.
@media only screen and (min-width: 64.063em) {

  .featured-image, .featured-text {
    margin-left: -6rem;
    margin-right: -6rem;
  }

  .small-margin-bottom {
    margin-bottom: 60px;
  }

  .medium-margin-bottom {
    margin-bottom: 100px;
  }

  .large-margin-bottom {
    margin-bottom: 150px;
  }

  .slides {
    background-size: cover;

    p {
      padding: 15px;
    }
  }

  .slides .row, .page .row {
    padding: 70px 0;

    &.small-pad {
      padding: 120px 0;
    }

    &.medium-pad {
      padding: 220px 0;
    }

    &.large-pad {
      padding: 350px 0;
    }
  }

  .slide-0 {
    .row {
      background-image: url(../img/jerry-bw.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
    }
  }

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
